{% load static %}
<!DOCTYPE html>
<html lang="en" id="hhh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '5.css' %}">

</head>

<body>
    <div class="container">
        <div class="answer-wrapper">
            <input type="button" value="Сохранить Конспект" id="save_cons">
            <input type="button" value="Скачать Конспект" id="get_cons">
            <input type="button" value="Посмотреть Конспекты" id="show_cons">
        </div>
        <div class="question-wrapper">
            <section class="questions" id="question">
                <h3 class="questions_title">Выбери подходящий для своего конспекта вариант :</h3>
                {% for subject in subjects %}
                <div class="questions_block" id="block_1"><h4 class="title_topic">{{ subject.name }}</h4>
                    {% for answer in subject.answermodel_set.all %}
                    <label class="options"><input type='checkbox' name="{{ subject }}" value="{{ answer.text }}"> {{ answer }} </label>
                    {% endfor %}
                </div>
                {% endfor %}
            </section>
            <section class="total" id="total">
                <h3 class="total_title">Результат :</h3>
                <div id="total_list"></div>
            </section>
        </div>
    </div>
    <script src="{% static '6.js' %}"></script>
</body>
</html>